*.vsidx
/.vs/IVE-Equipment-Tracking-App/CopilotIndices/17.13.433.20974/CodeChunks.db
/.vs/IVE-Equipment-Tracking-App/CopilotIndices/17.13.433.20974/CodeChunks.db-shm
/.vs/IVE-Equipment-Tracking-App/CopilotIndices/17.13.433.20974/CodeChunks.db-wal
/.vs/IVE-Equipment-Tracking-App/CopilotIndices/17.13.433.20974/SemanticSymbols.db-shm
/.vs/IVE-Equipment-Tracking-App/CopilotIndices/17.13.433.20974/SemanticSymbols.db
/.vs/IVE-Equipment-Tracking-App/CopilotIndices/17.13.433.20974/SemanticSymbols.db-wal
/.vs/IVE-Equipment-Tracking-App/v17/.wsuo
/.vs/IVE-Equipment-Tracking-App/v17/DocumentLayout.backup.json
/.vs/IVE-Equipment-Tracking-App/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
*.sqlite-journal
